html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  padding: 10px;
}
body {
  display: grid;
  grid-template-columns: 230px repeat(2, 1fr);
  color: #2b2f3e;
}
section {
  margin: 20px;
  box-shadow: 0px 0px 3px 1px #333;
  border-radius: 2px;
  height: min-content;
}
button {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.aside {
  min-height: 100vh;
  background-color: #2b2f3e;
  &__title {
    margin: 20px;
    color: #fff;
  }
  &__subtitle {
    margin: 20px;
    color: #6e6f72;
  }
}
.items {
  clear: both;
  &__title {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  &__inputBox {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin: 10px 0;
    &-input,
    &-button-add {
      border-radius: 2px;
    }
    &-input {
      margin-right: 10px;
      padding: 8px;
      border: none;
      border-radius: 2px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    }
    &-button-add {
      background: aquamarine;
      border: none;
      color: white;
      font-weight: bold;
      &:disabled {
        background: grey;
        cursor: default;
      }
    }
  }
  &__tasks {
    &-element {
      &-selected {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: -12px;
          height: 100%;
          width: 4px;
          background: red;
        }
      }
      &__inner {
        display: flex;
        align-items: center;
        &__title {
          margin-right: 10px;
          font-weight: bold;
        }
        &__comments-count {
          padding: 5px;
          background: Aquamarine;
          border-radius: 25px;
          font-size: 14px;
          color: white;
        }
      }
      &__button-delete {
        padding: 5px 20px;
        border: 1px solid tomato;
        border-radius: 2px;
        background: transparent;
        color: tomato;
      }
    }

    &-element,
    &-element-selected {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      &:hover {
        background: #33333310;
        transition: 0.2s;
      }
    }
  }
}
.comments {
  &__title {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  &__element__inner {
    display: flex;
    flex-direction: row;
    &-photo {
      box-sizing: content-box;
      width: 40px;
      height: 40px;
      background: OrangeRed;
      margin: 0 7px 7px 0;
    }
    &-text {
      width: 100%;
    }
    &:nth-child(3n + 1) {
      .comments__element__inner-photo {
        background: DarkSlateBlue;
      }
    }
  }
  &__textarea {
    display: grid;
    grid-template-columns: 50px 1fr;
    &-photo {
      width: 40px;
      height: 40px;
      margin: 0 7px 7px 0;
      background: lightgray;
    }
    &-input {
      max-width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 2px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
